<div class="flex flex-wrap">
  <div class="card">
    <div>
      <div class="flex-shrink pr-4">
        <div class="rounded p-3 bg-green-600"></div>
      </div>
      <div class="flex-1 text-right md:text-center">
        <h5 class="font-bold uppercase text-gray-500">Matchs joués</h5>
        <h3 class="font-bold text-3xl"><%= @cards_data[:games_count] %><span class="text-green-500"></h3>
      </div>
    </div>
  </div>

  <div class="card">
    <div>
      <div class="flex-shrink pr-4">
        <div class="rounded p-3 bg-orange-600"></div>
      </div>
      <div class="flex-1 text-right md:text-center">
        <h5 class="font-bold uppercase text-gray-500">Meilleure Attaque</h5>
        <h3 class="font-bold text-3xl"><%= "#{@cards_data[:best_attack][0]} - #{@cards_data[:best_attack][1]}" %></h3>
      </div>
    </div>
  </div>

  <div class="card">
    <div>
      <div class="flex-shrink pr-4">
        <div class="rounded p-3 bg-yellow-600"></div>
      </div>
      <div class="flex-1 text-right md:text-center">
        <h5 class="font-bold uppercase text-gray-500">Meilleur Buteur</h5>
        <h3 class="font-bold text-3xl"><%= "#{@cards_data[:best_scorer][0]} - #{@cards_data[:best_scorer][1]}" %></h3>
      </div>
    </div>
  </div>
</div>
