<%= render "header" %>

<div class="container w-full mx-auto pt-20">
  <div class="w-full px-4 md:px-0 md:mt-8 mb-16 text-gray-800 leading-normal">
    <%= render "teams/cards" %>
    <!--Divider-->
    <hr class="border-b-2 border-gray-400 my-8 mx-4">

    <!-- Filters Starting -->
    <%= render "teams/filters" %>
    <!-- Filters Ended -->
    <!-- Graphs starting -->
    <div class="flex flex-row flex-wrap flex-grow mt-2">
      <div class="w-full p-3">
        <!--Graph Card-->
        <div class="bg-white border rounded shadow">
          <div class="border-b p-3">
            <h5 class="font-bold uppercase text-gray-600">Buts par Type d'action par Journée</h5>
          </div>
          <div class="p-5">
            <canvas id="chart1" class="h-50"></canvas>
            <div data-controller="multi-charts--goal-action-type-matchweeks" data-multi-charts--goal-action-type-matchweeks-canvas-id="chart1">
            </div>
          </div>
        </div>
        <!--/Graph Card-->
      </div>

      <div class="w-full p-3">
        <!--Graph Card-->
        <div class="bg-white border rounded shadow">
          <div class="border-b p-3">
            <h5 class="font-bold uppercase text-gray-600">Buts par Type d'action par Équipe</h5>
          </div>
          <div class="p-5">
            <canvas id="chart2" class="h-50"></canvas>
            <div data-controller="multi-charts--goal-action-type-teams" data-multi-charts--goal-action-type-teams-canvas-id="chart2">
            </div>
          </div>
        </div>
        <!--/Graph Card-->
      </div>

      <div class="w-full md:w-1/2 p-3">
        <!--Graph Card-->
        <div class="bg-white border rounded shadow">
          <div class="border-b p-3">
            <h5 class="font-bold uppercase text-gray-600">Total Buts par Équipe</h5>
          </div>
          <div class="p-5">
            <canvas id="pie-chart1"></canvas>
            <div data-controller="charts--action-type-goals" data-charts--action-type-goals-canvas-id="pie-chart1">
            </div>
          </div>
        </div>
        <!--/Graph Card-->
      </div>

      <div class="w-full p-3">
        <!--Graph Card-->
        <div class="bg-white border rounded shadow">
          <div class="border-b p-3">
            <h5 class="font-bold uppercase text-gray-600">Total Buts par Type d'action</h5>
          </div>
          <div class="p-5">
            <canvas id="pie-chart2"></canvas>
            <div data-controller="charts--team-goals" data-charts--team-goals-canvas-id="pie-chart2">
            </div>
          </div>
        </div>
        <!--/Graph Card-->
      </div>
    </div>
  </div>
</div>
