<%= render "header" %>

<div class="container w-full mx-auto pt-20">
  <div class="w-full px-4 md:px-0 md:mt-8 mb-16 text-gray-800 leading-normal">
    <%= render "videos/cards" %>
    <!--Divider-->
    <hr class="border-b-2 border-gray-400 my-8 mx-4">

    <!-- Filters Starting -->
    <%= render "videos/filters" %>
    <!-- Filters Ended -->
    <!-- Graphs starting -->
    <div class="embed-responsive aspect-ratio-16/9">
      <iframe class="embed-responsive-item p-3" src="https://www.youtube.com/embed/9nTLJPRgaJc"></iframe>
    </div>
  </div>
</div>
